@use "src/colors/colors.scss" as *;


.header{
    outline: 2px solid aqua;
    display: flex;
    width: 100%;
    min-height: 800px;
    background-image: url("assets/header/header-bg_1.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;

}

.header__header-menu{
    outline: 2px solid red;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header__search{
    display: flex;
    gap:50px;
    margin:50px 10px 0 10px;
    outline: 2px solid rgb(199, 199, 199);
    align-items: center;
    text-align: center;
    flex-direction: column;
}
//search text
.header__title-text{
    @include font-style(600,  20px, 30px,$pure-white)
}

.header__title-text-gray{
    @include font-style(600, 16px, 22px, $description-light)
}

.header__search-text{
    @include font-style(400, 14px, 24px, $pure-white)
}

.header__bottom-text{
    @include font-style(500, 14px, 24px, $pure-white)
}

//search input

.header__search-line input{
height: 44px;
width: 100%;
}

.header__search-line {
width: 100%;
align-items: center;
text-align: left;
}

.search{
    width: 100%;
}

.search__input {
    position: relative;
}

.search__input img {
        position: absolute;
        left: 10px; /* Позиция изображения */
        top: 50%; /* Вертикальная позиция на середине контейнера */
        transform: translateY(-50%); /* Центрирование по вертикали */
}

.search__input input {
    border-radius: 8px;
    @include font-style(500, 16px, 28px, $description-dark);
    padding-left: 40px; /* Отступ для ввода текста, чтобы избежать наложения */
    box-sizing: border-box; /* Чтобы отступ не увеличивал ширину */
}
//menu-login text

.header__menu-text-header{
    display: none;
}

.menu-text{
    @include font-style(500, 14px, 24px, $description-light);
    margin: 0 30px 40px 0;
    cursor: pointer;
}

.modal__login-title-text{
    @include font-style(600, 28px, 45px, $dark-blue);
}

.modal__email-password-text{
    @include font-style(500, 16px, 28px, $description-dark);
}

.modal__sign-up-text{
    @include font-style(600, 16px, 24px, $deep-blue);
}

.modal__transparent-text{
    @include font-style(500, 16px, 28px, $description-light);
}

.modal__login-icons{
margin-right: 20px;
}


.modal__remember-margin{
    margin:-20px 0 70px 0 ;
}

.menu-text:hover {
    color:$pure-white; /* Цвет при наведении */
}
//модальное окно
.modal{
    position:fixed;
    z-index: 1000;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    transition: opacity .4s, visibility .4s;
    visibility: hidden;
    opacity: 0;

}

.modal__show-modal{
visibility: visible;
opacity: 1;

}

.modal__content{
    background-color: #fefefe;
    width: 100%; 
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление */
    gap: 30px; /* Задаем расстояние между элементами */
}

.modal__img-container{
display: flex;
flex-direction: row;
}

.modal__login-form{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.modal__close{
    color: #aaa;
    float: right;
    cursor: pointer;
    margin:30px 30px  0  auto;
}
.modal__email-password-container {
    background-color: $title-light;
    border-radius: 8px;
    border: 0px;
    @include font-style(500, 16px, 24px, $pure-white);
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
  }
  
  .modal__login-button-modal{
    width: 90%;
    height: 50px;
    background-color:$deep-blue ;
    @include font-style(500, 14px, 24px, $pure-white);
    border-radius: 8px;
    border: none ;
}
//dropdown
.dropdown-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  .dropdown-button-hidden{
    display: none;
  }

  .dropdown-content {
    position: absolute;
    right: 0;
    left: 0;
    background-color: $dark-blue-menu;
    max-height: 0; /* Начальная высота 0 */
    margin-top: 15px;
    z-index: 1;
    transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0.4s ease; /* Плавный переход на max-height и opacity */
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    opacity: 0;
    border-top: 1px solid gray;
    padding: 30px 0px 1px 20px;
    overflow: hidden; /* Скрывает содержимое, выходящее за пределы */
}

.show-dropdown {
    visibility: visible; /* Начальное состояние видимости */
    max-height: 100%; /* Установите максимальную высоту, достаточную для вашего содержимого */
    height: 100%;
    opacity: 1; /* Полная видимость */
}

.login-button{
    width: 100px;
    height: 50px;
    background-color:$deep-blue ;
    @include font-style(500, 14px, 24px, $pure-white);
    border-radius: 8px;
    border: none ;
}

.close-button{
    display: none;
    margin-top: 10px;
    cursor: pointer;
    visibility: hidden;
  }

  .show-close{
    display: block;
    visibility: visible;
  }

  
  @media(min-width:768px) {
    .header__title-text{
        @include font-style(700, 36px, 52px, $pure-white);
    }
    
    .header__title-text-gray{
        @include font-style(500, 18px, 30px, $description-light);
    }
    

    .dropdown-content {
        height: 50%;
    }
      .modal{
        background-color: $dark-blue-menu; 
        align-items: center;
    }
    
    .show-modal{
    visibility: visible;
    opacity: 1;
    
    }
    
    .modal__content{
        z-index: 1000;
        margin: 100px auto ;
        width: 480px; 
        height: 690px;
        gap: 10px; /* Задаем расстояние между элементами */
        border-radius: 9px;
    }
    
    .modal__login-form{
        width: 90%;
    }

    .header__search-line input{
        width: 100%;
        height: 60px;
    }

    .header__search-line {
        width: 600px;
        text-align: left;
        align-items: center;
    }
  } 
  
  @media(min-width:1244px){
    .modal{
        background-color: rgba(0, 0, 0, 0.4); 
        align-items: center;
    }

    .header__menu-text-header{
        display: block;
        margin-left: auto;
        
    }
    .dropdown-button {
        visibility: hidden;
        
    }

    .menu-text{
        @include font-style(500, 14px, 24px, $description-light);
        margin: 0 30px 40px 0;
        cursor: pointer;
    }

    .header__header-menu{
        outline: 2px solid red;
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 50px;
    }
    .show-dropdown {
        visibility: hidden;
        opacity: 1;
        
      }
      .close-button{
        display: none;
        margin-top: 10px;
        cursor: pointer;
        visibility: hidden;
      }
      .dropdown-content {
        visibility: hidden;
    }
  }


