@use 'src/colors/colors.scss' as *; 

.music-player{
padding: 50px 16px 50px 16px;
text-align: left;
align-items: center;
position: relative;
}
///TAB
.tab {
    display: flex;
    flex-wrap: wrap;
    gap: .1rem;

  }
  
  .tab > input[type=radio] {
    display: none;

  }
  
  .tab-content {
    display: none;
    width: 100%;
    height: 100%;
    gap: -0.625rem;

  }
  
  #tab-btn-1:checked ~ #content-1,
  #tab-btn-2:checked ~ #content-2,
  #tab-btn-3:checked ~ #content-3,
  #tab-btn-4:checked ~ #content-4,
  #tab-btn-5:checked ~ #content-5,
  #tab-btn-6:checked ~ #content-6 {
    display: block;

  }
  
  .tab > label {
    padding-top: 0.5rem;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    background: 0 0;
    cursor: pointer;
    text-decoration: none;

  }
  .music-player__input[type="checkbox"]:before{
    content: "";
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem; 
    background-color:$pure-white;
    border-radius: .1875rem; 
  }
  .music-player__input[type="checkbox"]:checked:before {
   
    background-color: $pure-white; 
    background-image: url("./assets/music-img/Vector.svg");
    background-size: 80%; 
    background-repeat: no-repeat;
    background-position: center;
   }
  .tab > label:hover {
    border-bottom: 2px solid #818181;
    padding-bottom: -2px;
    font-weight: bold;
 
  }
  
  .tab > input[type=radio]:checked + label {
    font-weight: bold;
    color: #212529;
    border-bottom: 2px solid #000000;

  }


//PLAYER-SONG
.play-pause-button{
  margin-left: .875rem;
}
.music-player__player-song{
    display: flex;
    padding: .625rem 0;
    gap:.575rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.music-player__player-text-box{
    text-align: left;
    margin-left:1.125rem;
    flex-direction: column;
}

.music-player__player-img-box{
    flex-direction: row;
    display: flex;
    margin-left:auto;
    height: .475rem;
}

.show{
    display: none;
    visibility: hidden;

}

///FILTER
.filter{
    z-index: 100; /* Обеспечивает видимость над другими элементами */
    overflow: auto; /* Позволяет прокручивать содержимое, если оно выходит за пределы */
    background-color:#EEEEEE;
    transition: opacity .4s, visibility .4s; /* Плавный переход */
    visibility: hidden; /* Скрывает элемент по умолчанию */
    opacity: 0; /* Прозрачность по умолчанию */
    position: absolute; /* Размещение относительно родительского элемента */
    display: inline-block; /* Чтобы элемент мог занимать пространство */
    top: 6.875rem; /* Расположение сверху */
    right:0; /* Расположение справа */
    margin-right: .9375rem;
    padding: .625rem 1.5625rem .625rem 1.5625rem;
}
label{
    display: flex; /* Использование flex для выравнивания элементов на одной строке */
    align-items: center; /* Вертикальное выравнивание контейнера */
}
.filter__show{
    visibility: visible;
    opacity: 1;
}

.close{
   margin-left: 90%;
} 
//SLYDER STYLE
.slider-styled,
.slider-styled .noUi-handle {
  box-shadow: none;
}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
  display: none;
}

.slider-styled .noUi-handle .noUi-touch-area {
  border: 1px solid transparent;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  width: auto;
  height: auto;
}

/* Show a border when hovering the area the handle responds to */
.slider-styled .noUi-handle:hover .noUi-touch-area {
  cursor: pointer;
}

#invert-connects {
  height: 10px;
  margin-top: 40px;
}

#invert-connects .noUi-connect {
  background: blue;
}

#invert-connects .noUi-handle {
  height: 14px;
  width: 14px;
  top: -3px;
  right: -7px;
  
  border-radius: 9px;
  background: blue;
  border: none;
}

.noUi-tooltip {
  background-color: transparent;
  padding: 5px;
  border: none;
  @include font-style(500, .75rem,1.25rem, $description-light)
}

//MUSIC TEXT

.music-player__title-text{
    @include font-style(600, 1.25rem, 1.875rem, $dark-blue)
  
}

.music-player__tab-text{
    @include font-style(500, .875rem, 1.1875rem, $description-dark)
}

.music-player__song-name-text{
    @include font-style(500, .875rem, 1.1875rem, $dark-blue)
}

.music-player__time-text{
    @include font-style(400, .75rem, 1.25rem, $description-dark)
}

//FILTER TEXT

.music-player__fiter-title-text{
    @include font-style(500, 1rem, 1.375rem, $description-dark);
    margin: -30px 0 20px 0;

}

.music-player__fiter-text{
    @include font-style(400, .875rem, 1.5rem, $description-dark)
}

.music-player__fiter-category-text{

    @include font-style(500, .875rem, 1.5rem, $deep-blue)
}

//КНОПКИ ДЛЯ ФИЛЬТРА
.filter__apply-button{
    @include button-style(6.25rem,3.125rem,$deep-blue,none,.5rem);
    margin-left: 9.375rem;
    @include font-style(500, .875rem, 1.5rem, $pure-white);
    margin-top: 1.875rem;
}

.filter__all-category-button{
    width: 250px;
    height: 44px;
    margin: 40px 0 20px 0;
    border-radius: 8px;
    background-color: $title-light;
    border:1px solid $description-light;
    text-align: left;
}

.filter__button{
    margin-left: auto;
    display: block;
}
.filter__button-tablet{
    margin-left: auto;
    display: none;
}
.filter__button-desktop{
    margin-left: auto;
    display: none;
}
@media(min-width:413px) {
    .filter{
        top: 5rem; /* Расположение сверху */
       }
}
@media(min-width:768px) {
.tab{
  gap:0.5rem;
}
.filter__button{
        
        display: none;
    }
.filter__button-tablet{
        
        display: block;
    }
.show{
    display: flex;
    visibility: visible;
}

.filter{
 top: 5rem; /* Расположение сверху */
}
.music-player{
  padding: 3.125rem 3.75rem 3.125rem 3.75rem;
  }
  } 
  
  @media(min-width:1244px){
    .music-player__player-song{

      gap:4.875rem;
  }
    .filter__button-tablet{
        display: none;
    }
    .filter__button-desktop{
        display: block;
    }
    .music-player__player-text-box{
        text-align: left;
        flex-direction: column;
    }

    .music-player__title-text{
      @include font-style(600, 1.75rem, 1.875rem, $dark-blue)
    
  }
  
  .music-player__tab-text{
      @include font-style(500, 1rem, 1.1875rem, $description-dark)
  }
  
  .music-player__song-name-text{
      @include font-style(500, 1rem, 1.1875rem, $dark-blue)
  }
  .music-player{
    padding: 50px 100px 50px 100px;
    }
    .filter{
      margin-right: 6.25rem;
  }
  }