@use 'src/colors/colors' as *; // Импортируем цвета

.production{
    padding: 1.875rem 1rem 2.5rem 1rem;
    text-align: center;
    align-items: center;
    background-color: $production-bk;
}

.production__image-container{
    margin-top: 1.875rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 
    display: flex;
    gap:.3125rem;

}

.production__title-text{
    @include font-style(600, 1.125rem, 1.875rem, $dark-blue)
    
}

@media(min-width:768px) {
    .production__title-text{
        @include font-style(600, 1.25rem, 1.875rem, $dark-blue)
    }
    .production__image-container{
        gap:30px;
    }
    .production{
        padding: 2.5rem 6.25rem 2.5rem 6.25rem;

    }
    
  }  
  @media(min-width:1244px){
    .production__image-container{
        gap:5rem;
    
    }
    .production{
        padding: 1.875rem 6.25rem 2.5rem 6.25rem;
    }
  }
