$pure-white: #FFFFFF;
$pure-black: #000;
$dark-blue:#020D37;
$deep-blue:#0432DF;
$deep-blue-saturat:#CDD6F9;
$brave-yellow:#F59E00;
$brave-yellow-sature:#FCE2B3;
$description-dark:#4C526A;
$description-light:#ACAFB8;
$dark-blue-menu:#030B26;
$title-light:#EEEEEE;
$production-bk:#FAFAFA;

